.disabledAutoPlayImgTopRadius {
	border-top-left-radius: 1.2em;
	border-top-right-radius: 1.2em;
}

.disabledAutoPlayImgBottomRadius {
	border-bottom-left-radius: 1.2m;
	border-bottom-right-radius: 1.2em;
}
